.blue{color:#007bff;}
.indigo{color:#6610f2;}
.purple{color:#6f42c1;}
.pink{color:#e83e8c;}
.red{color:#dc3545;}
.orange{color:#fd7e14;}
.yellow{color:#ffc107;}
.green{color:#28a745;}
.teal{color:#20c997;}
.cyan{color:#17a2b8;}
.white{color:#ffffff;}
.gray{color:#6c757d;}
.gray-dark{color:#343a40;}
.primary{color:#007bff;}
.secondary{color:#6c757d;}
.success{color:#28a745;}
.info{color:#17a2b8;}
.warning{color:#ffc107;}
.danger{color:#dc3545;}
.light{color:#f8f9fa;}
.dark{color:#343a40;}

tr.gray{background-color:#ebe4e4;color:#5e625e;}
.label-gray{background-color:#5e625e;color:#ebe4e4;}

.bg-e9b500{background-color:#e9b500;}
.bg-fff56f{background-color:#fff56f;}
.bg-ffcb1f{background-color:#ffcb1f;}
.bg-fdd93b{background-color:#fdd93b;}
.bg-7a298f{background-color:#7a298f;}
.bg-62bee7{background-color:#62bee7;}
.bg-c75c5c{background-color:#c75c5c;}
.bg-334d5c{background-color:#334d5c;}
.bg-76c2af{background-color:#76c2af;}
.bg-16b9ba{background-color:#16b9ba;}
.bg-485a69{background-color:#485a69;}
.bg-f5eee5{background-color:#f5eee5;}
.bg-005457{background-color:#005457;}
.bg-dae2e3{background-color:#dae2e3;}
.bg-3c9c36{background-color:#3c9c36;}
.bg-6a3a75{background-color:#6a3a75;}
.bg-f5a52d{background-color:#f5a52d;}
.bg-ac3d3d{background-color:#ac3d3d;}
.bg-4e8732{background-color:#4e8732;}
.bg-2ebac8{background-color:#2ebac8;}
.bg-255d98{background-color:#255d98;}
.bg-cc6f30{background-color:#cc6f30;}
.bg-96c646{background-color:#96c646;}
.bg-c83927{background-color:#c83927;}
.bg-7bafaa{background-color:#7bafaa;}
.bg-bccf00{background-color:#bccf00;}
.bg-94c947{background-color:#94c947;}
.bg-1e325a{background-color:#1e325a;}
.bg-828486{background-color:#828486;}
.bg-0166b2{background-color:#0166b2;}
.bg-80a63e{background-color:#80a63e;}
.bg-e51e20{background-color:#e51e20;}
.bg-7dafd6{background-color:#7dafd6;}
.bg-00b5c8{background-color:#00b5c8;}
.bg-fbbe00{background-color:#fbbe00;}
.bg-000000{background-color:#000000;}
.bg-71c2ff{background-color:#71c2ff;}
.bg-ff5300{background-color:#ff5300;}
.bg-b79773{background-color:#b79773;}
.bg-23b9e3{background-color:#23b9e3;}
.bg-5696cb{background-color:#5696cb;}
.bg-eda430{background-color:#eda430;}
.bg-696150{background-color:#696150;}
.bg-1e759b{background-color:#1e759b;}
.bg-ac3d3d{background-color:#ac3d3d;}
.bg-0095da{background-color:#0095da;}
.bg-e91642{background-color:#e91642;}
.bg-cc6f30{background-color:#cc6f30;}
.bg-3a267b{background-color:#3a267b;}
.bg-e11859{background-color:#e11859;}
.bg-1e325a{background-color:#1e325a;}
.bg-3fbeb3{background-color:#3fbeb3;}
.bg-2b4255{background-color:#2b4255;}
.bg-92a6b0{background-color:#92a6b0;}
.bg-f95428{background-color:#f95428;}
.bg-a5c03c{background-color:#a5c03c;}
.bg-101010{background-color:#101010;}
.bg-56ace0{background-color:#56ace0;}
.bg-096bb4{background-color:#096bb4;}
.bg-223b5a{background-color:#223b5a;}
.bg-fd8369{background-color:#fd8369;}
.bg-4fa7a0{background-color:#4fa7a0;}
.bg-eb5151{background-color:#eb5151;}
.bg-ebf0f1{background-color:#ebf0f1;}
.bg-3498db{background-color:#3498db;}
.bg-5fbac5{background-color:#5fbac5;}
.bg-77b3d4{background-color:#77b3d4;}
.bg-76c2af{background-color:#76c2af;}
.bg-eb5151{background-color:#eb5151;}
.bg-698e7e{background-color:#698e7e;}
.bg-e0e0d1{background-color:#e0e0d1;}
.bg-9ccb5b{background-color:#9ccb5b;}
.bg-fdbfff{background-color:#fdbfff;}
.bg-711f88{background-color:#711f88;}

.gb-e9b500{color:#e9b500;}
.gb-fff56f{color:#fff56f;}
.gb-ffcb1f{color:#ffcb1f;}
.gb-fdd93b{color:#fdd93b;}
.gb-7a298f{color:#7a298f;}
.gb-fd8369{color:#fd8369;}
.gb-62bee7{color:#62bee7;}
.gb-c75c5c{color:#c75c5c;}
.gb-334d5c{color:#334d5c;}
.gb-76c2af{color:#76c2af;}
.gb-16b9ba{color:#16b9ba;}
.gb-485a69{color:#485a69;}
.gb-f5eee5{color:#f5eee5;}
.gb-005457{color:#005457;}
.gb-dae2e3{color:#dae2e3;}
.gb-3c9c36{color:#3c9c36;}
.gb-bccf00{color:#bccf00;}
.gb-94c947{color:#94c947;}
.gb-1e325a{color:#1e325a;}
.gb-828486{color:#828486;}
.gb-0166b2{color:#0166b2;}
.gb-80a63e{color:#80a63e;}
.gb-e51e20{color:#e51e20;}
.gb-7dafd6{color:#7dafd6;}
.gb-00b5c8{color:#00b5c8;}
.gb-fbbe00{color:#fbbe00;}
.gb-000000{color:#000000;}
.gb-71c2ff{color:#71c2ff;}
.gb-ff5300{color:#ff5300;}
.gb-b79773{color:#b79773;}
.gb-23b9e3{color:#23b9e3;}
.gb-5696cb{color:#5696cb;}
.gb-eda430{color:#eda430;}
.gb-696150{color:#696150;}
.gb-1e759b{color:#1e759b;}
.gb-ac3d3d{color:#ac3d3d;}
.gb-0095da{color:#0095da;}
.gb-e91642{color:#e91642;}
.gb-cc6f30{color:#cc6f30;}
.gb-3a267b{color:#3a267b;}
.gb-e11859{color:#e11859;}
.gb-1e325a{color:#1e325a;}
.gb-3fbeb3{color:#3fbeb3;}
.gb-2b4255{color:#2b4255;}
.gb-92a6b0{color:#92a6b0;}
.gb-f95428{color:#f95428;}
.gb-a5c03c{color:#a5c03c;}
.gb-2ab87e{color:#2ab87e;}
.gb-096bb4{color:#096bb4;}
.gb-223b5a{color:#223b5a;}
.gb-4fa7a0{color:#4fa7a0;}
.gb-eb5151{color:#eb5151;}
.gb-ebf0f1{color:#ebf0f1;}
.gb-3498db{color:#3498db;}
.gb-5fbac5{color:#5fbac5;}
.gb-77b3d4{color:#77b3d4;}
.gb-76c2af{color:#76c2af;}
.gb-eb5151{color:#eb5151;}
.gb-698e7e{color:#698e7e;}
.gb-e0e0d1{color:#e0e0d1;}
.gb-9ccb5b{color:#9ccb5b;}
.gb-fdbfff{color:#fdbfff;}
.gb-711f88{color:#711f88;}

/*.bb-6a3a75{border-bottom-color:#6a3a75;}
.bb-f5a52d{border-bottom-color:#f5a52d;}
.bb-ac3d3d{border-bottom-color:#ac3d3d;}
.bb-4e8732{border-bottom-color:#4e8732;}
.bb-2ebac8{border-bottom-color:#2ebac8;}
.bb-255d98{border-bottom-color:#255d98;}
.bb-cc6f30{border-bottom-color:#cc6f30;}
.bb-96c646{border-bottom-color:#96c646;}
.bb-c83927{border-bottom-color:#c83927;}
.bb-7bafaa{border-bottom-color:#7bafaa;}
.bb-bccf00{border-bottom-color:#bccf00;}
.bb-94c947{border-bottom-color:#94c947;}
.bb-1e325a{border-bottom-color:#1e325a;}
.bb-828486{border-bottom-color:#828486;}
.bb-0166b2{border-bottom-color:#0166b2;}
.bb-80a63e{border-bottom-color:#80a63e;}
.bb-e51e20{border-bottom-color:#e51e20;}
.bb-7dafd6{border-bottom-color:#7dafd6;}
.bb-00b5c8{border-bottom-color:#00b5c8;}
.bb-fbbe00{border-bottom-color:#fbbe00;}
.bb-000000{border-bottom-color:#000000;}
.bb-71c2ff{border-bottom-color:#71c2ff;}
.bb-ff5300{border-bottom-color:#ff5300;}
.bb-b79773{border-bottom-color:#b79773;}
.bb-23b9e3{border-bottom-color:#23b9e3;}
.bb-5696cb{border-bottom-color:#5696cb;}
.bb-eda430{border-bottom-color:#eda430;}
.bb-696150{border-bottom-color:#696150;}
.bb-1e759b{border-bottom-color:#1e759b;}
.bb-ac3d3d{border-bottom-color:#ac3d3d;}
.bb-0095da{border-bottom-color:#0095da;}
.bb-e91642{border-bottom-color:#e91642;}
.bb-cc6f30{border-bottom-color:#cc6f30;}
.bb-3a267b{border-bottom-color:#3a267b;}
.bb-e11859{border-bottom-color:#e11859;}
.bb-1e325a{border-bottom-color:#1e325a;}
.bb-3fbeb3{border-bottom-color:#3fbeb3;}
.bb-2b4255{border-bottom-color:#2b4255;}
.bb-92a6b0{border-bottom-color:#92a6b0;}
.bb-f95428{border-bottom-color:#f95428;}
.bb-a5c03c{border-bottom-color:#a5c03c;}
.bb-101010{border-bottom-color:#101010;}
.bb-56ace0{border-bottom-color:#56ace0;}
.bb-56ac223b5ae0{border-bottom-color:#223b5a;}
.bb-096bb4{border-bottom-color:#096bb4;}*/